<div id="sidebar-navigation" class="sidebar-navigation">
    <a href="./summary.html" class="nav-link">
        <img src="assets/img/Vector (3).png" alt="">
        <p>Summary</p>
    </a>

    <a href="./board.html" class="nav-link">
        <img src="assets/img/Vector (4).png" alt="">
        <p>Board</p>
    </a>

    <a href="./add-task.html" class="nav-link">
        <img src="assets/img/Group 1.png" alt="">
        <p>Add Task</p>
    </a>

    <a href="./contacts.html" class="nav-link">
        <img src="assets/img/Vector (5).png" alt="">
        <p>Contacts</p>
    </a>
</div>

<a class="legalNotice" href="./impress.html" class="nav-link">
    <img src="assets/img/Group 4 .png" alt="">
    <p>Legal notice</p>
</a>